.leaderboard {
  .leaderboard-header,
  .leaderboard-row {
    @extend .py-2;

    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-auto-rows: auto;
    gap: 0.5rem;

    .rank {
      @extend .d-flex, .gap-3;

      grid-column: span 3;
    }

    .name {
      grid-column: span 6;
    }

    .score {
      @extend .text-end;

      grid-column: span 3;
    }

    .attr-0 {
      @extend .text-end;

      grid-column: span 4;
    }

    .attr-1 {
      @extend .text-end;

      grid-column: span 4;
    }

    .attr-2 {
      @extend .text-end;

      grid-column: span 4;
    }

    .attr-3 {
      @extend .text-end;

      grid-column: span 4;
    }

    .attr-4 {
      @extend .text-end;

      grid-column: span 4;
    }
  }

  .leaderboard-header {
    @extend .pt-0;
  }

  .leaderboard-row:last-of-type {
    @extend .pb-0;
  }
}

.player-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  row-gap: 1rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 0;
  }
}

.title-container {
  @extend .d-flex, .flex-column, .flex-md-row, .align-items-md-center, .justify-content-md-between,
          .gap-2, .gap-md-0, .mb-2;

  .disqualified-badge {
    @extend .align-self-start, .align-self-md-auto, .order-first, .order-md-last, .bg-danger-subtle,
            .border, .border-danger, .rounded-3, .px-2, .py-1;
  }
}

.statistics-grid {
  display: grid;
  grid-template:
    "normal" auto
    "racing" auto
    "survivor" auto
    "defilante" auto
    / 1fr;
  gap: 1rem;

  @include media-breakpoint-up(xxl) {
    grid-template:
      "normal normal racing racing" auto
      "normal normal survivor survivor" auto
      "normal normal defilante defilante" auto
      / 1fr 1fr 1fr 1fr;
  }

  .normal-stats {
    grid-area: normal;

    .progress {
      --bs-progress-bg: var(--bs-body-bg);
    }
  }

  .racing-stats {
    grid-area: racing;
  }

  .survivor-stats {
    grid-area: survivor;
  }

  .defilante-stats {
    grid-area: defilante;
  }
}

.search-container {
  @extend .d-flex, .flex-column, .gap-3, .gap-md-5, .align-self-center, .w-100;

  max-width: 512px;

  .search-bar {
    @extend .d-flex;

    .search-input {
      @extend .form-control, .bg-secondary, .border-dark, .px-4, .py-3;

      border-radius: 1rem 0 0 1rem;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .search-results {
    .search-result {
      @extend .px-4, .py-2;

      margin: 0 calc(var(--bs-card-spacer-x) * -1);

      &:first-child {
        @extend .pt-0;
      }

      &:last-child {
        @extend .pb-0;
      }

      &:nth-child(2n)  {
        @extend .pb-2;

        background-color: darken($bg-secondary-dark, 3%);
      }
    }
  }
}
