.player-list {
  .card {
    @extend .mb-3;

    &:last-child {
      @extend .mb-0;
    }
  }
}

.title-container {
  @extend .d-flex, .flex-column, .flex-md-row, .align-items-md-center, .justify-content-md-between,
          .gap-2, .gap-md-0, .mb-2;

  .disqualified-badge {
    @extend .align-self-start, .align-self-md-auto, .order-first, .order-md-last, .bg-danger-subtle,
            .border, .border-danger, .rounded-3, .px-2, .py-1;
  }
}

.subtitle-container {
  @extend .d-flex, .gap-3,
}

.statistics-grid {
  @extend .mb-4, .mb-md-5;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
          "normal"
          "racing"
          "survivor"
          "defilante";
  gap: 1rem;

  @include media-breakpoint-up(xxl) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
          "normal normal racing racing"
          "normal normal survivor survivor"
          "normal normal defilante defilante";
  }

  .normal-stats {
    grid-area: normal;
  }

  .racing-stats {
    grid-area: racing;
  }

  .survivor-stats {
    grid-area: survivor;
  }

  .defilante-stats {
    grid-area: defilante;
  }
}
