.player-list {
  .card {
    @extend .mb-3;

    &:last-child {
      @extend .mb-0;
    }
  }
}

.title-container {
  @extend .d-flex, .flex-column, .flex-md-row, .align-items-md-center, .justify-content-md-between,
          .gap-2, .gap-md-0, .mb-2;

  .disqualified-badge {
    @extend .align-self-start, .align-self-md-auto, .order-first, .order-md-last, .bg-danger-subtle,
            .border, .border-danger, .rounded-3, .px-2, .py-1;
  }
}

.statistics-grid {
  display: grid;
  grid-template:
    "normal" auto
    "racing" auto
    "survivor" auto
    "defilante" auto
    / 1fr;
  gap: 1rem;

  @include media-breakpoint-up(xxl) {
    grid-template:
      "normal normal racing racing" auto
      "normal normal survivor survivor" auto
      "normal normal defilante defilante" auto
      / 1fr 1fr 1fr 1fr;
  }

  .normal-stats {
    grid-area: normal;

    .progress {
      --bs-progress-bg: var(--bs-body-bg);
    }
  }

  .racing-stats {
    grid-area: racing;
  }

  .survivor-stats {
    grid-area: survivor;
  }

  .defilante-stats {
    grid-area: defilante;
  }
}

.search-container {
  @extend .d-flex, .flex-column, .gap-3, .gap-md-5, .align-self-center, .w-100;

  max-width: 768px;

  .search-results {
    .search-result {
      @extend .px-4, .py-2;

      margin: 0 calc(var(--bs-card-spacer-x) * -1);

      &:first-child {
        @extend .pt-0;
      }

      &:last-child {
        @extend .pb-0;
      }

      &:nth-child(2n)  {
        @extend .pb-2;

        background-color: darken($dark, 3%);
      }
    }
  }
}
