<div class="d-flex justify-content-between gap-3">
  <div class="score-container">
    <h4 class="text-truncate mb-0"><%= title %></h4>
    <div class="vr d-none d-md-block"></div>
    <span class="align-self-md-end"><%= t('players.score', score: score) %></span>
  </div>

  <div class="rank-container">
    <h4 class="mb-0"><%= "##{rank}" %></h4>
    <%== displayed_rank_change %>
  </div>
</div>
