@font-face {
  font-family: Soopafresh;
  font-display: swap;
  src: url('Soopafresh.woff2') format('woff2'),
       url('Soopafresh.woff') format('woff');
}

.soopafresh {
  font-family: Soopafresh, sans-serif;
}

.tabular-numbers {
  font-variant-numeric: tabular-nums;
}
