body,
button {
  font-variant-numeric: tabular-nums;
}

h1 {
  font-family: Soopafresh, sans-serif;
}

.text-admin {
  color: $admin;
}

.text-admin-title {
  color: $admin-title;
}

.text-moderator {
  color: $moderator;
}

.text-sentinel {
  color: $sentinel;
}

.text-map-crew {
  color: $map-crew;
}
