<div class="d-flex flex-column align-items-center justify-content-center gap-5 h-100">
  <%= image_tag "under_maintenance.webp", alt: t("home.index.image_alt"), class: "hero-image" %>

  <h1 class="text-center text-primary"><%= t("home.index.description") %></h1>
</div>
