<div class="d-flex flex-column align-items-center justify-content-center gap-5 h-100">
  <%= image_tag('under_maintenance.webp', class: 'under-maintenance') %>
  <h1 class="text-primary"><%= t('home.index.description') %></h1>
</div>
