.flash-messages-container {
  @extend .position-absolute;

  --flash-message-padding: 1rem;

  width: calc(100% - 2 * var(--flash-message-padding));
  right: var(--flash-message-padding);
  top: var(--flash-message-padding);
  z-index: $zindex-modal + 1;

  @include media-breakpoint-up(md) {
    width: 500px;
  }

  .flash-message {
    @extend .d-flex, .align-items-center;
  }
}
