<div class="d-flex flex-column align-items-center justify-content-center gap-5 h-100">
  <%= image_tag "internal_server_error.webp", alt: t("errors.internal_server_error.image_alt"), class: "hero-image" %>

  <div class="d-flex flex-column align-items-center">
    <h1 class="text-center text-primary"><%= t("errors.internal_server_error.title") %></h1>
    <span class="text-center"><%= t("errors.internal_server_error.message") %></span>
  </div>
</div>
