<div class="d-flex flex-column align-items-center justify-content-center gap-5 h-100">
  <%= image_tag "not_found.webp", alt: t("errors.not_found.image_alt"), class: "hero-image" %>

  <div class="d-flex flex-column align-items-center">
    <h1 class="text-center text-primary"><%= t("errors.not_found.title") %></h1>
    <span class="text-center"><%= t("errors.not_found.message") %></span>
  </div>
</div>
