.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-width: 0;

  margin: 0 calc(var(--bs-card-spacer-x) * -1);

  .accordion-item {
    .accordion-button {
      --bs-accordion-active-bg: transparent;
      --bs-accordion-btn-bg: transparent;
      --bs-accordion-btn-focus-box-shadow: none;
      --bs-accordion-btn-icon-width: 0.75rem;
      --bs-accordion-btn-padding-x: var(--bs-card-spacer-x);
      --bs-accordion-btn-padding-y: 0.5rem;

      &::after {
        order: -1;
        margin-left: 0;
      }

      &[disabled]::after {
        content: none;
      }
    }

    &:first-child .accordion-button {
      padding-top: 0;
    }

    &:nth-child(2n) .accordion-button {
      --bs-accordion-active-bg: #{darken($dark, 3%)};
      --bs-accordion-btn-bg: #{darken($dark, 3%)};
    }
  }

  .accordion-body {
    --bs-accordion-body-padding-x: var(--bs-card-spacer-x);

    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x)
             var(--bs-accordion-body-padding-y) calc(1.75rem + var(--bs-card-spacer-x));
  }

  .accordion-button-disabled-icon {
    @extend .d-flex, .align-items-center, .justify-content-center;

    height: var(--bs-accordion-btn-icon-width);
    width: var(--bs-accordion-btn-icon-width);
  }
}
