@keyframes progress {
  from {
    inset: 0 100% 0 0;
  }

  to {
    inset: 0;
  }
}

.alert.fade {
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 20%);
    animation: progress 5s ease-in-out forwards;
  }

  &:hover::before {
    animation-play-state: paused;
  }
}
