.btn-leaderboard {
  @extend .d-flex, .align-items-center;

  --bs-btn-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-btn-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;

  // Ensure leaderboard button is the same height as the profile tab switcher
  border: none;
  border-bottom: 2px solid transparent;

  .icon-container {
    @extend .d-none, .d-md-flex, .align-items-center, .ms-2;

    transition: transform 0.2s ease;

    &.rotate-180 {
      transform: rotate(180deg);
    }
  }
}

.btn-search {
  @extend .bg-secondary;

  --bs-btn-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-btn-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;

  border-radius: 0;
  padding: 0.5rem 0.75rem;

  &:last-of-type {
    border-radius: 0 1rem 1rem 0;
    padding-right: 1.5rem;
  }
}
