.card {
  --bs-card-bg: var(--bs-dark);
  --bs-card-border-radius: 1rem;
  --bs-card-border-width: 0;

  @include media-breakpoint-up(md) {
    --bs-card-spacer-x: 1.5rem;
    --bs-card-spacer-y: 1.5rem;
  }

  &.sign-in-card {
    width: 500px;
  }

  .card-separator {
    @extend .my-3, .my-md-4;

    background-color: var(--separator-color);
    height: var(--separator-thickness);
    margin-right: calc(var(--bs-card-spacer-x) * -1);
    margin-left: calc(var(--bs-card-spacer-x) * -1);
  }
}
