$card-separator-border-color: rgb(60, 60, 60);

.card {
  --bs-card-bg: #{$component-bg};
  --bs-card-border-radius: 1rem;
  --bs-card-border-width: 0;

  .card-separator {
    @extend .my-3;

    border: 1px solid $card-separator-border-color;
    margin-left: calc(var(--bs-card-spacer-x) * -1);
    margin-right: calc(var(--bs-card-spacer-x) * -1);
  }
}
