.navbar {
  --bs-navbar-toggler-border-color: transparent;

  .navbar-brand {
    img {
      max-width: 3rem;
    }
  }

  .nav-link {
    --bs-navbar-nav-link-padding-x: 0.5rem;

    @include media-breakpoint-up(md) {
      --bs-navbar-nav-link-padding-x: 1rem;
    }
  }
}

