.pagy-bootstrap {
  .pagination {
    @extend .gap-2, .mb-0, .w-100;

    --bs-pagination-border-width: 0;
    --bs-pagination-padding-x: 0;
    --bs-pagination-padding-y: 0;

    .page-item {
      .page-link {
        @extend .btn, .btn-primary;
      }
    }

    .page-item.prev {
      @extend .me-auto;

      .page-link {
        @extend .btn, .btn-primary;
      }
    }

    .page-item.disabled {
      .page-link {
        @extend .border-secondary, .bg-secondary, .text-muted;
      }
    }

    .page-item.active {
      .page-link {
        @extend .border-secondary, .bg-secondary, .text-muted;

        cursor: initial;
      }
    }

    .page-item.next {
      @extend .ms-auto;

      .page-link {
        @extend .btn, .btn-primary;
      }
    }
  }
}
