.pagy-bootstrap {
  .pagination {
    @extend .gap-2, .mb-0, .w-100;

    --bs-pagination-border-width: 0;
    --bs-pagination-padding-x: 0;
    --bs-pagination-padding-y: 0;

    .page-item {
      @extend .d-flex;

      &.disabled {
        .page-link {
          @extend .border-secondary, .bg-secondary;

          color: rgba(var(--bs-emphasis-color-rgb), 0.65);
        }
      }

      &.previous {
        @extend .me-auto;
      }

      &.next {
        @extend .ms-auto;
      }

      .page-link {
        @extend .btn, .btn-primary, .d-flex, .align-items-center;
      }

      label.page-link {
        @extend .gap-2;

        input {
          min-width: 4rem; // Accounts for 3 digit page numbers plus increase / decrease buttons
        }
      }
    }
  }
}
