:root {
  --separator-color: rgb(75 75 75);
  --separator-thickness: 2px;
}

.hr {
  background-color: var(--separator-color);
  opacity: 1;
  height: var(--separator-thickness);
}

.vr {
  background-color: var(--separator-color);
  opacity: 1;
  width: var(--separator-thickness);
}
