<div class="card h-100">
  <div class="card-body">
    <%= render ScoreHeader.new(player, previous_day_log, title: t("players.show.categories.normal"), type: :normal) %>

    <div class="card-separator"></div>

    <%= render "players/show/level_progress", player: player %>

    <div class="row g-3">
      <% cols = "col-6 col-md-4" %>

      <% Player::NORMAL_ATTRIBUTES.each do |attribute| %>
        <%= render PlayerStat.new(player, previous_day_log,
                                  attribute: attribute, style: cols, display_ratio: attribute != :rounds_played) %>
      <% end %>
    </div>
  </div>
</div>
