<div class="card h-100">
  <div class="card-body">
    <%= render ScoreHeader.new(player, past_day, title: t("players.show.categories.racing"), category: :racing) %>

    <div class="card-separator"></div>

    <div class="row g-3">
      <% cols = "col-6" %>

      <% Player::RACING_ATTRIBUTES.each do |attribute| %>
        <%= render PlayerStat.new(player, past_day, attribute: attribute,
                                                    style: cols,
                                                    display_ratio: attribute != :racing_rounds_played) %>
      <% end %>
    </div>
  </div>
</div>
