<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, previous_day_log, title: t('players.show.categories.survivor'), type: :survivor) %>

    <div class="card-separator"></div>

    <div class="row g-3">
      <% cols = 'col-6 col-md-3' %>

      <% Player::SURVIVOR_ATTRIBUTES.each do |attribute| %>
        <%= render PlayerStat.new(player, previous_day_log, attribute: attribute,
                                                            style: cols,
                                                            display_ratio: attribute != :survivor_rounds_played) %>
      <% end %>
    </div>
  </div>
</div>
